@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono:wght@500&display=swap');

/* 
font-family: 'Chelsea Market', cursive;
font-family: 'Roboto Mono', monospace; */

html {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}


/* * {
    border: 1px solid black;
} */


nav {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

nav a{
    text-decoration:none;
    border-radius: 15%;
    margin: 5%;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.visit {
    color:white;
    background-color: #FF764E;
}

.park {
    color:white;
    background-color: #5ED3EB;
}

.involved {
    color:white;
    background-color: #FFCD69;
}

.head {
    display: inline-block;
    border: 1px solid black;
}

.head img{
    border-radius: 50%;
    width: 20%;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
}

h1{
    display:block;
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
}

.head p{
    border: 1px solid black;
}

.about p{
    margin-left: 100px;
    margin-right: 100px;
    background-color: #DDB9A3;
    color:white;
    padding: 15px 15px 15px 15px;
    font-size: 1.25em;
    
}

.advice {
    text-align: center;
}

.advice img{
    width: 150px;
}
.advice p{
    padding: 5px 5px 5px 5px;
    margin-left: 400px;
    margin-right: 400px;
}

.footerimg {
    overflow: hidden;
}

.footerimg img{
    margin: 0 auto;
    width: 100vw;
    height: 25vh;
    overflow: hidden;
    object-fit: cover;
}